<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929910681984-581o11rkhk232ts9gktfuuihk543q1vo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929910681984-581o11rkhk232ts9gktfuuihk543q1vo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929910681984-4cd67depaqrlbp117r9q632ikvqhi0g2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>929910681984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teambuilderVRC.app</string>
	<key>PROJECT_ID</key>
	<string>vrc-team-builder-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vrc-team-builder-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929910681984:ios:01c9d9be8d34e98e915165</string>
</dict>
</plist>
